@{
    ViewData["Title"] = "Nosotros";
}
@*////////////////////////// HERO *@
<section class="row m heroNosotros p-0">

    <article class="text-center text-light">

        <h2>
            ¿Quienes sonmos ?
        </h2>

        <img src="~/images/LogoNav.png" class="logoNosotros" alt="LogoAlternativo" />

    </article>
   
    <article class=" undulated-border">

        <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 190" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 237, 237, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,152L15,133C30,114,60,76,90,57C120,38,150,38,180,34.8C210,32,240,25,270,25.3C300,25,330,32,360,44.3C390,57,420,76,450,91.8C480,108,510,120,540,129.8C570,139,600,146,630,148.8C660,152,690,152,720,136.2C750,120,780,89,810,72.8C840,57,870,57,900,72.8C930,89,960,120,990,129.8C1020,139,1050,127,1080,126.7C1110,127,1140,139,1170,123.5C1200,108,1230,63,1260,38C1290,13,1320,6,1350,31.7C1380,57,1410,114,1440,133C1470,152,1500,133,1530,110.8C1560,89,1590,63,1620,60.2C1650,57,1680,76,1710,85.5C1740,95,1770,95,1800,91.8C1830,89,1860,82,1890,69.7C1920,57,1950,38,1980,31.7C2010,25,2040,32,2070,47.5C2100,63,2130,89,2145,101.3L2160,114L2160,190L2145,190C2130,190,2100,190,2070,190C2040,190,2010,190,1980,190C1950,190,1920,190,1890,190C1860,190,1830,190,1800,190C1770,190,1740,190,1710,190C1680,190,1650,190,1620,190C1590,190,1560,190,1530,190C1500,190,1470,190,1440,190C1410,190,1380,190,1350,190C1320,190,1290,190,1260,190C1230,190,1200,190,1170,190C1140,190,1110,190,1080,190C1050,190,1020,190,990,190C960,190,930,190,900,190C870,190,840,190,810,190C780,190,750,190,720,190C690,190,660,190,630,190C600,190,570,190,540,190C510,190,480,190,450,190C420,190,390,190,360,190C330,190,300,190,270,190C240,190,210,190,180,190C150,190,120,190,90,190C60,190,30,190,15,190L0,190Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 237, 237, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,19L15,25.3C30,32,60,44,90,69.7C120,95,150,133,180,139.3C210,146,240,120,270,117.2C300,114,330,133,360,145.7C390,158,420,165,450,139.3C480,114,510,57,540,44.3C570,32,600,63,630,69.7C660,76,690,57,720,50.7C750,44,780,51,810,66.5C840,82,870,108,900,101.3C930,95,960,57,990,53.8C1020,51,1050,82,1080,98.2C1110,114,1140,114,1170,95C1200,76,1230,38,1260,44.3C1290,51,1320,101,1350,117.2C1380,133,1410,114,1440,98.2C1470,82,1500,70,1530,72.8C1560,76,1590,95,1620,91.8C1650,89,1680,63,1710,69.7C1740,76,1770,114,1800,110.8C1830,108,1860,63,1890,60.2C1920,57,1950,95,1980,91.8C2010,89,2040,44,2070,41.2C2100,38,2130,76,2145,95L2160,114L2160,190L2145,190C2130,190,2100,190,2070,190C2040,190,2010,190,1980,190C1950,190,1920,190,1890,190C1860,190,1830,190,1800,190C1770,190,1740,190,1710,190C1680,190,1650,190,1620,190C1590,190,1560,190,1530,190C1500,190,1470,190,1440,190C1410,190,1380,190,1350,190C1320,190,1290,190,1260,190C1230,190,1200,190,1170,190C1140,190,1110,190,1080,190C1050,190,1020,190,990,190C960,190,930,190,900,190C870,190,840,190,810,190C780,190,750,190,720,190C690,190,660,190,630,190C600,190,570,190,540,190C510,190,480,190,450,190C420,190,390,190,360,190C330,190,300,190,270,190C240,190,210,190,180,190C150,190,120,190,90,190C60,190,30,190,15,190L0,190Z"></path></svg>

    </article>


</section>

