@{
    ViewData["Title"] = "Nosotros";
}
@*////////////////////////// HERO *@
<section class="row m heroNosotros p-0">

    <article class="text-center text-light">

        <h1 class="cabin">¿Quienes somos?</h1>
        <hr />
        <h5 class="cabin mt-2">Centro de capacitación aérea informática e ingles</h5>

        <h5 class="cabin">Jorge Estévez Peña</h5>

    </article>
   
    <article class=" undulated-border">

        <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 110" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 237, 237, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,22L10,25.7C20,29,40,37,60,49.5C80,62,100,81,120,78.8C140,77,160,55,180,40.3C200,26,220,18,240,14.7C260,11,280,11,300,14.7C320,18,340,26,360,34.8C380,44,400,55,420,53.2C440,51,460,37,480,42.2C500,48,520,73,540,84.3C560,95,580,92,600,77C620,62,640,37,660,25.7C680,15,700,18,720,18.3C740,18,760,15,780,25.7C800,37,820,62,840,60.5C860,59,880,29,900,14.7C920,0,940,0,960,11C980,22,1000,44,1020,45.8C1040,48,1060,29,1080,34.8C1100,40,1120,70,1140,73.3C1160,77,1180,55,1200,45.8C1220,37,1240,40,1260,49.5C1280,59,1300,73,1320,66C1340,59,1360,29,1380,29.3C1400,29,1420,59,1430,73.3L1440,88L1440,110L1430,110C1420,110,1400,110,1380,110C1360,110,1340,110,1320,110C1300,110,1280,110,1260,110C1240,110,1220,110,1200,110C1180,110,1160,110,1140,110C1120,110,1100,110,1080,110C1060,110,1040,110,1020,110C1000,110,980,110,960,110C940,110,920,110,900,110C880,110,860,110,840,110C820,110,800,110,780,110C760,110,740,110,720,110C700,110,680,110,660,110C640,110,620,110,600,110C580,110,560,110,540,110C520,110,500,110,480,110C460,110,440,110,420,110C400,110,380,110,360,110C340,110,320,110,300,110C280,110,260,110,240,110C220,110,200,110,180,110C160,110,140,110,120,110C100,110,80,110,60,110C40,110,20,110,10,110L0,110Z"></path></svg>

    </article>

</section>

@*////////////////////////// Historia *@
<section class="row m  my-5 history bg-white box-shadow rounded-4">

    <article class="col-12 col-lg-8 p-0 text-center  p-5">

        <h1 class="textHero py-2">Centro de Capacitación Aérea informatica e Ingles</h1>
        <h1 class="textHero py-2">Jorge Estevez Peña</h1>

        <h3 class="pt-4">
            El Centro de Capacitación Aérea, Informática e Inglés Jorge Estévez Peña es una institución dedicada a la formación integral en áreas clave para el desarrollo profesional en la era moderna. Nuestro fundador, el destacado educador Jorge Estévez Peña, concibió la idea de una institución que ofreciera programas de calidad.
        </h3>

        <h3 >
            Nos comprometemos a proporcionar un entorno de aprendizaje inclusivo y colaborativo, donde cada estudiante tenga la oportunidad de alcanzar su máximo potencial.

        </h3>

        <aside class="row m w-100 justify-content-center pt-3 ">

            <img  src="~/images/education.svg" class="NosotrosLogo "/>

        </aside>

    </article>

    <article class="col-12 col-lg-4  p-0 rounded-4">

        <img src="~/images/Fachada.jpg" alt="Fachada CCAII"  class="nosnotrosIMG "/>

    </article>

</section>
@*////////////////////////// MVYV *@
<section class="row m mt-5 mb-2  justify-content-between MYV ">

    <article class="col-12 col-lg-4 justify-content-center d-flex my-5">

        <div class="card rounded-4">
            <img class="card-img-top card-img" src="~/images/mision.svg" alt="Card image cap">
            <div class="card-body text-center">
                <h3 class="card-title"><b>Misión</b></h3>
                <h5 class="card-text py-1 justify">Proporcionar una educación de calidad que prepare a nuestros estudiantes para sobresalir en un mundo cada vez más competitivo y tecnológico. </h5>
                <h5 class="card-text py-1 justify">Nos comprometemos a ofrecer programas innovadores, impartidos por profesionales calificados, que promuevan el desarrollo de habilidades prácticas, el pensamiento crítico y el dominio de conocimientos especializados en áreas clave como la informática, el inglés y la aeronáutica.</h5>
            </div>
        </div>

    </article>

    <article class="col-12 col-lg-4 justify-content-center d-none d-lg-flex my-5">

            <img class="card-img-top card-img-logo" src="~/images/CCAIE.png" alt="Card image cap">

    </article>

    <article class="col-12 col-lg-4 justify-content-center d-flex my-5">

        <div class="card rounded-4">
            <img class="card-img-top card-img p-3" src="~/images/Vision.svg" alt="Card image cap">
            <div class="card-body text-center">
                <h3 class="card-title"><b>Visión</b></h3>
                <h5 class="card-text py-1 justify">Nuestra visión es ser reconocidos como una institución líder en la formación integral de profesionales altamente capacitados y competitivos a nivel nacional e internacional. </h5>
                <h5 class="card-text py-1 justify">Aspiramos a ser un referente de excelencia académica, innovación educativa y compromiso con el éxito estudiantil, contribuyendo al desarrollo socioeconómico de nuestra comunidad y del país en su conjunto.</h5>
            </div>
        </div>

    </article>

</section>

<section class="row m  mb-5  history box-shadow p-0 bg-white rounded-4 cont-values ">

    <article class="col-12 col-lg-3  p-3">
        
        <img class="Values" src="~/images/Valores.svg" alt="Card image cap">

    </article>

    <article class="col-12 col-lg-9 text-center p-5">

        <h3 class="card-title py-2 text-center "><b>Valores</b></h3>

        <h5 class="card-text py-1 justify">👑<b>Excelencia: </b>Nos esforzamos por alcanzar la excelencia en todo lo que hacemos, manteniendo altos estándares académicos y de servicio en todas nuestras actividades.</h5>
        <h5 class="card-text py-2 justify">👑<b>Integridad: </b>Actuamos con honestidad, transparencia y ética en todas nuestras interacciones, promoviendo un ambiente de confianza y respeto mutuo.</h5>
        <h5 class="card-text py-2 justify">👑<b>Innovación: </b>Buscamos constantemente nuevas formas de mejorar y adaptarnos a los cambios en el entorno educativo y tecnológico, fomentando la creatividad y el pensamiento innovador entre nuestros estudiantes y personal.</h5>
        <h5 class="card-text py-2 justify">👑<b>Compromiso: </b>Estamos comprometidos con el éxito académico y personal de nuestros estudiantes, brindándoles el apoyo y las herramientas necesarias para alcanzar sus metas y aspiraciones profesionales.</h5>
        <h5 class="card-text py-2 justify">👑<b>Colaboración: </b>Valoramos el trabajo en equipo y la colaboración entre estudiantes, docentes, personal administrativo y la comunidad en general, reconociendo que juntos podemos lograr más que individualmente.</h5>
        <h5 class="card-text py-2 justify">👑<b>Diversidad e Inclusión: </b>Celebramos la diversidad en todas sus formas y promovemos un ambiente inclusivo donde todas las personas sean bienvenidas y respetadas, independientemente de su origen, género, orientación sexual, religión o capacidades.</h5>
        <h5 class="card-text py-2 justify">👑<b>Responsabilidad social: </b>Nos comprometemos a contribuir de manera positiva al bienestar de la sociedad y el medio ambiente, promoviendo la responsabilidad social y la sostenibilidad en todas nuestras actividades.</h5>


    </article>

</section>