@{
    ViewData["Title"] = "Inicio";
}

<section class="row m heroImage p-0">
    <div class="text-center text-light ">
        <h1 class="cabin">Bienvenido</h1>
        <hr />
        <h5 class="cabin mt-2">Centro de capacitación aérea informatica e ingles</h5>
        <h5 class="cabin">Jorge Estevez Peña</h5>

     </div>
    
    <div class=" undulated-border"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-5.36,110.05 C173.53,175.17 470.37,78.47 503.10,132.73 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #eeeded;"></path></svg></div>
</section>

<section class="row w-100 m p text-center" id="animation">
    <h1 class="textHero text-dark ">¡Eleva tus conocimientos a nuevas alturas!</h1>

    <article class="row border border-dark m vh-70 ">

        <div class="col-12 col-lg-7  border border-primary"></div>
        <div class="col-12 col-lg-5 border border-danger"></div>

    </article>
</section>



@* <section class="w-100 row m my-2 border border-danger text-center">

    <h1>
        <b>
            
        </b>
    </h1>

</section> *@




