@{
    ViewData["Title"] = "Inicio";
}

<section class="row m heroImage p-0">
    <div class="text-center text-light "><h1 class="textHero">¡Eleva tus conocimientos a nuevas alturas!</h1></div>
    <div class="undulated-border m p-0"></div>
</section>

@* <section class="w-100 row m my-2 border border-danger text-center">

    <h1>
        <b>
            
        </b>
    </h1>

</section> *@



<section class=" row border w-80 rounded-4 mb-2 vh-90 m" id="animation">

    <article class="col-12 col-lg-5 student-content d-flex justify-content-center rounded-L">
        <img src="~/images/estudent.png" class="student" />
    </article>

    <article class="col-12 col-lg-7 bg-white rounded-R"></article>

</section>

<section class=" row border box-shadow m vh-10"></section>


