@{
    ViewData["Title"] = "Inicio";
}

@*////////////////////////// HERO *@
<section class="row m heroImage p-0">

    <article class="text-center text-light">
        
        <h1 class="cabin">¡Bienvenido!</h1>
        <hr />
        <h5 class="cabin mt-2">Centro de capacitación aérea informática e ingles</h5>

        <h5 class="cabin">Jorge Estévez Peña</h5>

    </article>

    <article class=" undulated-border"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-5.36,110.05 C173.53,175.17 470.37,78.47 503.10,132.73 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #eeeded;"></path></svg></article>


</section>

@*////////////////////////// ¿Quines somos? *@

<section class="row w-100 m p-0 mb-2 text-center">
    
    <h2 class="textHero text-dark my-3">"Eleva tus conocimientos a nuevas alturas"</h2>

    <article class="row are-content mt-3 p-0 box-shadow bg-light rounded-4">

        <aside class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center p-3">
           
            <h2>¿Quienes somos?</h2>

            <h4 class="text-body text pt-2">El Centro de Capacitación Aérea, Informática e Inglés Jorge Estévez Peña es una institución dedicada a la formación  para el desarrollo profesional. Nos esforzamos por proporcionar a nuestros estudiantes una educación de primera categoría, integrando tecnología de vanguardia, metodologías pedagógicas innovadoras y un enfoque práctico que prepara a los profesionales del mañana para los desafíos del mundo real.</h4>
            <button class="showMore">Ver más</button>

        </aside>

        <aside class="col-12 col-lg-6 d-flex align-items-center p-3">

            <img src="~/images/CCAIE.png" alt="CCAII" class="rounded-R logoSomos" />

        </aside>

    </article>

</section>

<section class="row m contCarrusel bg-white box-shadow rounded-4 my-5 p-0">

    <article class="col-12 col-lg-5 p-0">

        <div id="carouselExampleCaptions" class="carousel slide p-0">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/Fachada.jpg" class="d-block w-100 c-img" alt="...">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h5>Fachada</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/fachadaLateral.jpg" class="d-block w-100 c-img" alt="...">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <h5>Fachada Lateral</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/Recepcion.jpg" class="d-block w-100 c-img" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Recepción</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/estancia.jpg" class="d-block w-100 c-img" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Estancia</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/images/aulas.jpg" class="d-block w-100 c-img" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Aulas</h5>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </article>

    <article class="col-12 col-lg-7 p-0 d-flex flex-column justify-content-center">

        <h1 class="textHero text-center pt-1 pb-2">Visita nuestras instalaciones</h1>
        <h5 class="text p-4 d-none d-lg-block">En el Centro de Capacitación Aérea, Informática e Inglés Jorge Estévez Peña, nos enorgullece ofrecer instalaciones de calidad para inspirar el aprendizaje y el crecimiento. Desde nuestra moderna fachada principal hasta nuestras aulas espaciosas , cada rincón de nuestra escuela ha sido cuidadosamente diseñado para proporcionar un entorno óptimo para el desarrollo académico y personal de nuestros estudiantes.  </h5>

    </article>


</section>

@*////////////////////////// Oferta *@
<section class="row m ofertaE my-5 p-0">

    <div class=" undulated-border-up">
        <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 237, 237, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L11.4,99.7C22.9,82,46,48,69,41.2C91.4,35,114,56,137,60.7C160,65,183,52,206,41.2C228.6,30,251,22,274,30.3C297.1,39,320,65,343,73.7C365.7,82,389,74,411,71.5C434.3,69,457,74,480,75.8C502.9,78,526,78,549,75.8C571.4,74,594,69,617,60.7C640,52,663,39,686,43.3C708.6,48,731,69,754,75.8C777.1,82,800,74,823,78C845.7,82,869,100,891,88.8C914.3,78,937,39,960,19.5C982.9,0,1006,0,1029,17.3C1051.4,35,1074,69,1097,88.8C1120,108,1143,113,1166,104C1188.6,95,1211,74,1234,60.7C1257.1,48,1280,43,1303,52C1325.7,61,1349,82,1371,88.8C1394.3,95,1417,87,1440,78C1462.9,69,1486,61,1509,52C1531.4,43,1554,35,1577,39C1600,43,1623,61,1634,69.3L1645.7,78L1645.7,130L1634.3,130C1622.9,130,1600,130,1577,130C1554.3,130,1531,130,1509,130C1485.7,130,1463,130,1440,130C1417.1,130,1394,130,1371,130C1348.6,130,1326,130,1303,130C1280,130,1257,130,1234,130C1211.4,130,1189,130,1166,130C1142.9,130,1120,130,1097,130C1074.3,130,1051,130,1029,130C1005.7,130,983,130,960,130C937.1,130,914,130,891,130C868.6,130,846,130,823,130C800,130,777,130,754,130C731.4,130,709,130,686,130C662.9,130,640,130,617,130C594.3,130,571,130,549,130C525.7,130,503,130,480,130C457.1,130,434,130,411,130C388.6,130,366,130,343,130C320,130,297,130,274,130C251.4,130,229,130,206,130C182.9,130,160,130,137,130C114.3,130,91,130,69,130C45.7,130,23,130,11,130L0,130Z"></path></svg>
    </div>

    <div class="text-center text-light ">

        <h1 class="cabin">Nuestra oferta educativa</h1>

    </div>

    <div class="undulated-border-down">

        <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 237, 237, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L11.4,99.7C22.9,82,46,48,69,41.2C91.4,35,114,56,137,60.7C160,65,183,52,206,41.2C228.6,30,251,22,274,30.3C297.1,39,320,65,343,73.7C365.7,82,389,74,411,71.5C434.3,69,457,74,480,75.8C502.9,78,526,78,549,75.8C571.4,74,594,69,617,60.7C640,52,663,39,686,43.3C708.6,48,731,69,754,75.8C777.1,82,800,74,823,78C845.7,82,869,100,891,88.8C914.3,78,937,39,960,19.5C982.9,0,1006,0,1029,17.3C1051.4,35,1074,69,1097,88.8C1120,108,1143,113,1166,104C1188.6,95,1211,74,1234,60.7C1257.1,48,1280,43,1303,52C1325.7,61,1349,82,1371,88.8C1394.3,95,1417,87,1440,78C1462.9,69,1486,61,1509,52C1531.4,43,1554,35,1577,39C1600,43,1623,61,1634,69.3L1645.7,78L1645.7,130L1634.3,130C1622.9,130,1600,130,1577,130C1554.3,130,1531,130,1509,130C1485.7,130,1463,130,1440,130C1417.1,130,1394,130,1371,130C1348.6,130,1326,130,1303,130C1280,130,1257,130,1234,130C1211.4,130,1189,130,1166,130C1142.9,130,1120,130,1097,130C1074.3,130,1051,130,1029,130C1005.7,130,983,130,960,130C937.1,130,914,130,891,130C868.6,130,846,130,823,130C800,130,777,130,754,130C731.4,130,709,130,686,130C662.9,130,640,130,617,130C594.3,130,571,130,549,130C525.7,130,503,130,480,130C457.1,130,434,130,411,130C388.6,130,366,130,343,130C320,130,297,130,274,130C251.4,130,229,130,206,130C182.9,130,160,130,137,130C114.3,130,91,130,69,130C45.7,130,23,130,11,130L0,130Z"></path></svg>

    </div>

</section>

<section class="row m mt-5 mb-2 p-0 py-5">

    <article class="col-12 col-lg-3 justify-content-center d-flex my-4">

        <div class="card">
            <img class="card-img-top img" src="~/images/programmer.svg" alt="Card image cap">
            <div class="card-body text-center">
                <h4 class="card-title"><b>CURSOS</b></h4>
                <h5 class="card-text py-1">👑 Curso infantil de computación e ingles</h5>
                <h5 class="card-text py-1">👑 Curso en inglés</h5>
                <h5 class="card-text py-1">👑 Cursos empresariales</h5>
            </div>
        </div>

    </article>

    <article class="col-12 col-lg-3 justify-content-center d-flex my-4">

        <div class="card">
            <img class="card-img-top img" src="~/images/design.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><b>CARRERA TÉCNICA</b></h4>
                <h5 class="py-1 card-text">👑 Técnico en informática</h5>
                <h5 class="py-1 card-text">👑 Técnico en inglés</h5>
                <h5 class="py-1 card-text">👑 Técnico en diseño gráfico</h5>
            </div>
        </div>

    </article>

    <article class="col-12 col-lg-3 justify-content-center d-flex my-4">

        <div class="card">
            <img class="card-img-top img" src="~/images/professor.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><b>ESCOLARIDAD</b></h4>
                <h5 class="card-text py-1">👑 Secundaria en 5 meses</h5>
                <h5 class="card-text py-1">👑 Preparatoria en 3,6 y 12 meses</h5>
            </div>
        </div>

    </article>

    <article class="col-12 col-lg-3 justify-content-center d-flex my-4">

        <div class="card">
            <img class="card-img-top img" src="~/images/educator.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><b>REGULARIZACIÓN</b></h4>
                <h5 class="card-text">👑 En matematicas</h5>
            </div>
        </div>

    </article>

</section>

@*////////////////////////// Docente *@
<section class="row box-shadow rounded-4 sectionDocent bg-white m p-0">

    <article class="col-12 col-lg-5 p-2">
        <img src="~/images/Docent.svg" class="p-2 docente" />
    </article>

    <article class="col-12 col-lg-7 p-2 d-flex  flex-column justify-content-center align-items-center text-center">
        <h1 class="cabin">¡Únete a Nosotros!<br /> Forma Parte de Nuestro Equipo Docente</h1>
        <h5 class="text p-3">En el Centro de Capacitación Aérea, Informática e Inglés Jorge Estévez Peña, valoramos el compromiso con la excelencia académica y la pasión por la enseñanza. Si eres un profesional calificado y apasionado por transmitir conocimientos en áreas como la informática, el inglés, te invitamos a formar parte de nuestro equipo docente. </h5>
        <a href="#" class="showMore py-2 my-2">Unete a nuestro equipo</a>
    </article>

</section>

<section class="row m contacto my-5 p-0">

    <article class=" undulated-border-up">

        <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 237, 237, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,13L13.3,10.8C26.7,9,53,4,80,4.3C106.7,4,133,9,160,21.7C186.7,35,213,56,240,73.7C266.7,91,293,104,320,110.5C346.7,117,373,117,400,99.7C426.7,82,453,48,480,45.5C506.7,43,533,74,560,91C586.7,108,613,113,640,112.7C666.7,113,693,108,720,106.2C746.7,104,773,104,800,106.2C826.7,108,853,113,880,104C906.7,95,933,74,960,62.8C986.7,52,1013,52,1040,52C1066.7,52,1093,52,1120,62.8C1146.7,74,1173,95,1200,99.7C1226.7,104,1253,91,1280,71.5C1306.7,52,1333,26,1360,28.2C1386.7,30,1413,61,1440,69.3C1466.7,78,1493,65,1520,69.3C1546.7,74,1573,95,1600,101.8C1626.7,108,1653,100,1680,88.8C1706.7,78,1733,65,1760,58.5C1786.7,52,1813,52,1840,47.7C1866.7,43,1893,35,1907,30.3L1920,26L1920,130L1906.7,130C1893.3,130,1867,130,1840,130C1813.3,130,1787,130,1760,130C1733.3,130,1707,130,1680,130C1653.3,130,1627,130,1600,130C1573.3,130,1547,130,1520,130C1493.3,130,1467,130,1440,130C1413.3,130,1387,130,1360,130C1333.3,130,1307,130,1280,130C1253.3,130,1227,130,1200,130C1173.3,130,1147,130,1120,130C1093.3,130,1067,130,1040,130C1013.3,130,987,130,960,130C933.3,130,907,130,880,130C853.3,130,827,130,800,130C773.3,130,747,130,720,130C693.3,130,667,130,640,130C613.3,130,587,130,560,130C533.3,130,507,130,480,130C453.3,130,427,130,400,130C373.3,130,347,130,320,130C293.3,130,267,130,240,130C213.3,130,187,130,160,130C133.3,130,107,130,80,130C53.3,130,27,130,13,130L0,130Z"></path></svg>

    </article>

    <article class="text-center text-light ">

        <h1 class="cabin">Contactanos</h1>

    </article>

    <article class="undulated-border-down">

        <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 130" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(238, 237, 237, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,13L13.3,10.8C26.7,9,53,4,80,4.3C106.7,4,133,9,160,21.7C186.7,35,213,56,240,73.7C266.7,91,293,104,320,110.5C346.7,117,373,117,400,99.7C426.7,82,453,48,480,45.5C506.7,43,533,74,560,91C586.7,108,613,113,640,112.7C666.7,113,693,108,720,106.2C746.7,104,773,104,800,106.2C826.7,108,853,113,880,104C906.7,95,933,74,960,62.8C986.7,52,1013,52,1040,52C1066.7,52,1093,52,1120,62.8C1146.7,74,1173,95,1200,99.7C1226.7,104,1253,91,1280,71.5C1306.7,52,1333,26,1360,28.2C1386.7,30,1413,61,1440,69.3C1466.7,78,1493,65,1520,69.3C1546.7,74,1573,95,1600,101.8C1626.7,108,1653,100,1680,88.8C1706.7,78,1733,65,1760,58.5C1786.7,52,1813,52,1840,47.7C1866.7,43,1893,35,1907,30.3L1920,26L1920,130L1906.7,130C1893.3,130,1867,130,1840,130C1813.3,130,1787,130,1760,130C1733.3,130,1707,130,1680,130C1653.3,130,1627,130,1600,130C1573.3,130,1547,130,1520,130C1493.3,130,1467,130,1440,130C1413.3,130,1387,130,1360,130C1333.3,130,1307,130,1280,130C1253.3,130,1227,130,1200,130C1173.3,130,1147,130,1120,130C1093.3,130,1067,130,1040,130C1013.3,130,987,130,960,130C933.3,130,907,130,880,130C853.3,130,827,130,800,130C773.3,130,747,130,720,130C693.3,130,667,130,640,130C613.3,130,587,130,560,130C533.3,130,507,130,480,130C453.3,130,427,130,400,130C373.3,130,347,130,320,130C293.3,130,267,130,240,130C213.3,130,187,130,160,130C133.3,130,107,130,80,130C53.3,130,27,130,13,130L0,130Z"></path></svg>

    </article>

</section>

<section class="row sectionDocent m my-3 p-0 box-shadow bg-light rounded-4 vh-70">

    <article class="col-12 col-lg-5 border d-flex flex-column justify-content-center align-items-center info">

        <h2><b>CONTACTANOS</b></h2>

        <a href="7712291888"> <h5><img src="~/images/phone-solid.svg" class="phone pe-2" />7712291888</h5></a>
        <a href="7717116305"> <h5><img src="~/images/phone-solid.svg" class="phone pe-2" />7717116305</h5></a>

        <h2><b>NOS UBICAMOS EN</b></h2>
        <h5>Calle Hélice N°.304, Carlos Riburosa, Pachuca,HGO. CP: 42082 </h5>


    </article>

    <article class="col-12 col-lg-7 border p-0">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3747.51672479266!2d-98.78591944700351!3d20.0706754055793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a0fbf38f8d09%3A0x799feaed5ac0c728!2sH%C3%A9lice%2C%20Carlos%20Rovirosa%2C%2042082%20Pachuca%20de%20Soto%2C%20Hgo.!5e0!3m2!1ses-419!2smx!4v1709778993904!5m2!1ses-419!2smx" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>

</section>
@* <section class="row sectionDocent m my-3 p-0 box-shadow bg-light rounded-4 vh-20"></section> *@
