.heroImage {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/wallpaperHero.jpg);
    height: 99vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.undulated-border {
    position: absolute;
    bottom:0;
    left: 0%;
    width: 100%;
    padding: 0;
}

.textHero {
    /*font-family: "Londrina Outline", sans-serif;*/
    font-family: "Cabin", sans-serif;

    font-size: 50pt;
    font-weight:bold;
}
.heroImage hr {
    width:25%;
    background:#fff;
    height:5px;
    margin:auto;
}


.cabin {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}