.heroImage {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../images/wallpaperHero.jpg);
    height: 99vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.undulated-border {
    position: absolute;
    bottom:-0.5%;
    left: 0%;
    width: 100%;
    padding: 0;
}

.undulated-border-up {
    position: absolute;
    top: -0.5%;
    left: 0%;
    width: 100%;
    padding: 0;
}

.undulated-border-down {
    position: absolute;
    bottom: -0.5%;
    left: 0%;
    width: 100%;
    padding: 0;
}

.textHero {
    font-family: "Cabin", sans-serif;
    font-weight:bold;
}
.heroImage hr {
    width:25%;
    background:#fff;
    height:5px;
    margin:auto;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logoSomos{width:100%; margin:auto;}

.cabin {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.are-content{
    width:96%;
    margin:auto;
}

.text-body{text-align:justify}

.showMore {
    font-family: "Alata", sans-serif;
    border: solid;
    background: #f8f9fa;
    color: #c99750;
    font-size: 14pt;
    border-radius: 10px;
    padding: .8% 2%;
}

    .showMore:hover {
        background: black;
        color: white;
    }

.ofertaE {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/ofertaE.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img{
    height:60%;
    padding:2%;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:90%;
}

.card:hover{transform:scale(1.1); cursor:pointer;}

.card-body{display:flex; flex-direction:column; align-items:center; justify-content:center;}

.contacto {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/plane.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.map{width:100%; height:100%; }

.phone{height:1.3rem;}

.info a{color:#000; text-decoration:none;}

.c-img {
    height:80vh;
    border-radius: 10px 0px 0px 10px;
}

.contCarrusel{width:96%; margin:auto; height:80vh;}

.text{text-align:justify;
      line-height:2;
}

.docente{width:100%;}

.sectionDocent{width:96%; margin:auto;}

@media (max-width: 1000px) {
    .are-content, .sectionDocent {
        width: 88%;
        margin: auto;
    }
    .contCarrusel {
        width: 88%;
        margin: auto;
        height:100vh;
    }
    .c-img {
        border-radius: 10px 10px 0px 0px;
    }

    .map {
        border-radius: 0px 0px 10px 10px;
    }
}

