main {
    flex-grow: 1;
    background: var(--smoke);
}

.logo {
    width: 10rem;
    margin:auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.9s;
    z-index: 1;
}

li {
    font-size: 16pt;
    font-family: "Alata", sans-serif;
    display: inline;
    padding: 0 .3em;
    color: aquamarine;
}

#animation {
    opacity: 0;
}

.fade-in-container {
    animation: fade-in-animation 2.5s ease-in-out forwards;
}

.logoFooter {
    width: 70%;
    margin: auto;
}

#footerLink {
    color: #000;
    text-decoration:none;
   
}
#footerLink:hover {
    color: #3c3c3c;
    text-decoration:underline;
   
}

.location{width:1rem;  margin-right:.5em; margin-bottom:.3em;}
@keyframes fade-in-animation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {
    header {
        top: -2.5%;
    }
}
